<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | LearnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://unpkg.com/@primer/css@^19.0.0/dist/primer.css" rel="stylesheet" />
    <%= javascript_include_tag("primer_view_components") %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
